/* 
 * dark gray:   20, 20, 20      #141414
 * gray:        42, 42, 42      #2a2a2a
 * light gray:  149, 149, 149   #959595
 * blue:        36, 130, 189    #2482bd
 */

 html, body {
    height: 100%;
    width: 100%;
    background-color: #2a2a2a;
    color: #959595;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

hr {
    background-color: #959595;
}

.blue {
    color: #2482bd;
}

#navbar {
    position: fixed;
    top: 0;
    background-color: #2a2a2a;
    z-index: 2;
    text-align: center;
    padding: 10px 0 10px 0;
}

.navbutton {
    font-size: 16pt;
    color: rgb(149, 149, 149);
    text-decoration: none;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbutton:hover {
    color: #ffffff;
}

#homeBlock {
    color: #959595;
    background-color: #141414;
    text-align: center;
}
#homeCenter {
    height: 30%;
}
#profile {
    height: 75%;
    margin: 10px 0 10px 0;
}
#signature {
    width: 400px;
    padding-left: 20px;
}
#bio {
    font-size: 14pt;
}
.contactButton {
    width: 50px;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 190px;
    margin: 0 20px 0 20px;
}
.title {
    font-size: 28pt;
    font-family: 'Roboto Condensed', sans-serif;
}
#aboutIconCol {
    text-align: center;
}
#aboutIcon {
    width: 75%;
}
.bodyBlock {
    color: #959595;
    margin: 200px 0 350px 0;
}
#experienceIcon {
    width: 100%;
}
#experienceTable {
    border: none;
    width: 100%;
}
#projectsBlock {
    text-align: center;
}

.projectCard {
    border-radius: 25px;
    background: #959595 url("") no-repeat fixed center;
    color: #000000;
    box-shadow: 10px 10px 10px #000000;
    text-align: center;
    font-size: 14pt;
    height: 300px;
    width: 85%;
    position: relative;
}

.projectCardTitle {
    padding: 10px 0 10px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border-radius: 25px 25px 0px 0px;
}

.projectCardContainer {
    margin: 10px 0 10px 0;
}

#chatroomCard {
    background: url("/img/chatroom.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#mazeCard {
    background: url("/img/maze.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#virusCard {
    background: url("/img/virus.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#stegCard {
    background: url("/img/steg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.projectRepoImg {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#contactBlock {
    text-align: center;
    color: #959595;
    padding: 0 0 20px 0;
    background-color: #141414;
}

.projectRepoImg:hover {
    content: url("/img/githubBlue.png");
    box-shadow: 0px 0px 0px #000000;
}

#githubButton:hover {
    content: url("/img/githubBlue.png");
    box-shadow: 0px 0px 0px #000000;
}

#mailButton:hover {
    content: url("/img/mailBlue.png");
    box-shadow: 0px 0px 0px #000000;
}

#linkedinButton:hover {
    content: url("/img/linkedinBlue.png");
    box-shadow: 0px 0px 0px #000000;
}

#instagramButton:hover {
    content: url("/img/instagramBlue.png");
    box-shadow: 0px 0px 0px #000000;
}

.preload {
    display: none;
}