/* 
 * dark gray:   20, 20, 20
 * gray:        42, 42, 42
 * light gray:  149, 149, 149
 * blue:        36, 130, 189
 */

html {
    height: 100%;
    width: 100%;
    background-color: rgb(42, 42, 42);
    color: rgb(149,149,149);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.blue {
    color: rgb(36,130,189);
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(16pt + 20px + 20px);
    background-color: rgb(42,42,42);
}
#signature {
    width: 400px;
    padding-left: 20px;
}
.navbutton {
    float: right;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16pt;
    color: rgb(149,149,149);
    text-decoration: none;
    position: relative;
}
.navbutton:hover {
    color: rgb(255,255,255);
}
.navbutton:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    border-style: solid;
    border-width: 0 0 3px;
    border-color: rgb(36,130,189);
}
#home {
    display: block;
    background-color: rgb(20,20,20);
    width: 100%;
    height: 80%;
    text-align: center;
    padding-top: 15%;
    margin-bottom: 200px;
}
#profile {
    width: 200px;
}
#about {
    width: 100%;
    
}
#bio {
    font-size: 16pt;
}
.contactButton {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 190px;
}
.title {
    font-size: 24pt;
}
#aboutTitle {
    margin: 40px 30px 30px 0px;
}
#aboutText {
    margin: 40px 10% 30px 0px;
    width: 40%;
    text-align: center;
    float: right;
}
#bio {
    font-size: 16pt;
    line-height: calc(16pt * 1.6);
}
.anchor {
    width: 100%;
    display: inline-block;
    margin-bottom: 400px;
}
#knowledgeTitle {
    margin: 80px 0px 0px 0px;
}
#knowledge {
    text-align: center;
}
.knowledgeCard {
    width: 10%;
    height: 50px;
    margin: 30px 30px 30px 30px;
    border-radius: 25px;
    background-color: rgb(149,149,149);
    color: #000000;
    box-shadow: 5px 5px 5px #000000;
    text-align: center;
    font-size: 24pt;
    padding-top: calc(50px / 2 - 24pt / 2);
    display: inline-block;
}
#projects {
    text-align: center;
}
.projectCard {
    width: 20%;
    height: 350px;
    margin: 30px 30px 30px 30px;
    border-radius: 25px;
    background: rgb(149,149,149) url("") no-repeat fixed center;
    color: #000000;
    box-shadow: 10px 10px 10px #000000;
    text-align: center;
    font-size: 24pt;
    padding-top: calc(50px / 2 - 24pt / 2);
    display: inline-block;
    padding-top: 0;
    position: relative;
}
.projectCardTitle {
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border-radius: 25px 25px 0px 0px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.projectCard:hover .projectCardTitle, .projectCard.hover .projectCardTitle {

}
#chatroomCard {
    background: url("/chatroom.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#mazeCard {
    background: url("/maze.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#virusCard {
    background: url("/virus.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#stegCard {
    background: url("/steg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.projectRepoImg {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.projectLink {
    text-decoration: none;
}
#contact {
    text-align: center;
    background-color: rgb(20,20,20);
    padding-bottom: 40px;
    margin-bottom: 0;
}
#contactTitle {
    margin-bottom: 40px;
}