<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/stylesheets/javascript/anchorScroll.js"></script>
    <title>Ethan Genser</title>
</head>
<body>
    <!-- Navbar -->
    <div id="navbar">
        <div id="leftNavBar">
        </div>
        <div id="rightNavBar">
            <a class="navbutton" href="#contact">Contact</a>
            <a class="navbutton" href="#projects">Projects</a>
            <a class="navbutton" href="#about">About</a>
            <a class="navbutton" href="#home">Home</a>
        </div>
    </div>
    <!-- Home -->
    <div class="anchor" id="home">
        <img src="/img/signature.png" alt="Ethan Genser" id="signature"><br>
        <img src="/img/me2.png" alt="profile picture" id="profile">
        <p id="bio">Computer science at the University of Arkansas</p>
        <a href="https://github.com/Ethan-Genser"><img src="/img/github.png" class="contactButton" id="githubButton"></a>
        <a href="mailto:epgenser@uark.edu"><img src="/img/mail.png" class="contactButton" id="mailButton"></a>
        <a href="https://www.linkedin.com/in/ethan-genser-48597916a/"><img src="/img/linkedin.png" class="contactButton" id="linkedinButton"></a>
        <a href="https://www.instagram.com/ethangenser/"><img src="/img/instagram.png" class="contactButton" id="instagramButton"></a>
    </div>
    <!-- About -->
    <div class="anchor" id="about">
        <div id="aboutText">
            <p class="title" id="aboutTitle">/* <span class="blue">About</span> me */</p>
            <p id="bio">Hi &#128075;, I'm Ethan, a student currently studying computer science at the University of Arkansas in Fayetteville. My areas of interest are software engineering, artificial intelligence, cyber security, networks, and data science. I am always searching for new opportunities to expand my knowledge and learn new technologies. I work well in a team environment and strive for fast, effective solutions by coordinating with team members and planning flexible designs.</p>
        </div>
    </div>
    <!-- Projects -->
    <div class="anchor" id="projects">
        <p class="title" id="projectsTitle">My.<span class="blue">Projects</span>[ ]</p>
        <a href="https://github.com/Ethan-Genser/NodeChatRoom" class="projectLink">
            <div class="projectCard" id="chatroomCard">
                <p class="projectCardTitle">Web Chatroom</p>
                <a href="https://github.com/Ethan-Genser/NodeChatRoom"><img src="/img/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
        <a href="https://github.com/Ethan-Genser/Maze_Generator" class="projectLink">
            <div class="projectCard" id="mazeCard">
                <p class="projectCardTitle">Maze Generator</p>
                <a href="https://github.com/Ethan-Genser/Maze_Generator"><img src="/img/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
        <a href="https://github.com/Ethan-Genser/Virus_Simulator" class="projectLink">
            <div class="projectCard" id="virusCard">
                <p class="projectCardTitle">Virus Simulator</p>
                <a href="/virusSim"><img src="/img/play.png" alt="Play" class="projectPlayImg"></a>
                <a href="https://github.com/Ethan-Genser/Virus_Simulator"><img src="/img/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
        <a href="https://github.com/Ethan-Genser/Steganography" class="projectLink">
            <div class="projectCard" id="stegCard">
                <p class="projectCardTitle">Steganography Encoder</p>
                <a href="https://github.com/Ethan-Genser/Steganography"><img src="/img/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
    </div>
    <!-- Contact -->
    <div class="anchor" id="contact">
        <p class="title" id="contactTitle"><span class="blue">Contact</span>(me);</p>
        <a href="https://github.com/Ethan-Genser"><img src="/img/github.png" class="contactButton" id="githubButton"></a>
        <a href="mailto:epgenser@uark.edu"><img src="/img/mail.png" class="contactButton" id="mailButton"></a>
        <a href="https://www.linkedin.com/in/ethan-genser-48597916a/"><img src="/img/linkedin.png" class="contactButton" id="linkedinButton"></a>
        <a href="https://www.instagram.com/ethangenser/"><img src="/img/instagram.png" class="contactButton" id="instagramButton"></a>
    </div>

    <!-- Preloading -->
    <img src="/img/githubBlue.png" class="preload">
    <img src="/img/mailBlue.png" class="preload">
    <img src="/img/linkedinBlue.png" class="preload">
    <img src="/img/instagramBlue.png" class="preload">
    <img src="/img/playBlue.png" class="preload">
</body>
</html>