<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/stylesheets/anchorScroll.js"></script>
    <title>Ethan Genser</title>
</head>
<body>
    <!-- Navbar -->
    <div id="navbar">
        <a class="navbutton" href="#contact">Contact</a>
        <a class="navbutton" href="#projects">Projects</a>
        <a class="navbutton" href="#about">About</a>
        <a class="navbutton" href="#home">Home</a>
    </div>
    <div class="anchor" id="home">
        <img src="/signature.png" alt="Ethan Genser" id="signature"><br>
        <img src="/me2.png" alt="profile picture" id="profile">
        <p id="bio">Computer science at the University of Arkansas</p>
        <a href="https://github.com/Ethan-Genser"><img src="/github.png" class="contactButton" id="githubButton"></a>
        <a href="mailto:epgenser@uark.edu"><img src="/mail.png" class="contactButton" id="mailButton"></a>
        <a href="https://www.linkedin.com/in/ethan-genser-48597916a/"><img src="/linkedin.png" class="contactButton" id="linkedinButton"></a>
        <a href="https://www.instagram.com/ethangenser/"><img src="/instagram.png" class="contactButton" id="instagramButton"></a>
    </div>
    <div class="anchor" id="about">
        <div id="aboutText">
            <p class="title" id="aboutTitle">/* <span class="blue">About</span> me */</p>
            <p id="bio">Hi &#128075;, I'm Ethan, a student currently studying computer science at the University of Arkansas in Fayetteville. My areas of interest are software engineering, artificial intelligence, cyber security, networks, and data science. I am always searching for new opprotunities to expand my knowledge and learn new technologies. I work well in a team enviroment and strive for fast, effective solutions by coordinating with teammembers and planning flexible designs.</p>
        </div>
    </div>
    <div class="anchor" id="projects">
        <p class="title" id="knowledgeTitle">My.<span class="blue">Projects</span>[ ]</p>
        <a href="/" class="projectLink">
            <div class="projectCard" id="chatroomCard">
                <p class="projectCardTitle">Web Chatroom</p>
                <a href="https://github.com/Ethan-Genser/NodeChatRoom"><img src="/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
        <a href="/" class="projectLink">
            <div class="projectCard" id="mazeCard">
                <p class="projectCardTitle">Maze Generator</p>
                <a href="https://github.com/Ethan-Genser/Maze_Generator"><img src="/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
        <a href="/" class="projectLink">
            <div class="projectCard" id="virusCard">
                <p class="projectCardTitle">Virus Simulator</p>
                <a href="https://github.com/Ethan-Genser/Virus_Simulator"><img src="/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
        <a href="/" class="projectLink">
            <div class="projectCard" id="stegCard">
                <p class="projectCardTitle">Steganography Encoder</p>
                <a href="https://github.com/Ethan-Genser/Steganography"><img src="/github.png" alt="Repository" class="projectRepoImg"></a>
            </div>
        </a>
    </div>
    <div class="anchor" id="contact">
        <p class="title" id="contactTitle"><span class="blue">Contact</span>(me);</p>
        <a href="https://github.com/Ethan-Genser"><img src="/github.png" class="contactButton" id="githubButton"></a>
        <a href="mailto:epgenser@uark.edu"><img src="/mail.png" class="contactButton" id="mailButton"></a>
        <a href="https://www.linkedin.com/in/ethan-genser-48597916a/"><img src="/linkedin.png" class="contactButton" id="linkedinButton"></a>
        <a href="https://www.instagram.com/ethangenser/"><img src="/instagram.png" class="contactButton" id="instagramButton"></a>
    </div>
</body>
</html>