<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="maze.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="maze.js"></script>
        <title>Maze Generator</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" id="header">
                <div class="col-10">
                    <table>
                        <tr>
                            <td class="header-item">
                                <p id="title">Maze Generator</p>
                            </td>
                            <td class="header-item">
                                <label for="algorithm-select">Algorithm: </label>
                                <select name="algorithm-select" id="algorithm-select">
                                    <option target="algorithm-select" value="Recursive Backtracking">Recursive Backtracking</option>
                                    <option target="algorithm-select" value="Kruskal's Algorithm">Kruskal's Algorithm</option>
                                    <!-- <option target="algorithm-select" value="Eller's Algorithm">Eller's Algorithm</option> -->
                                </select>
                            </td>
                            <td class="header-item">
                                <p>Size</p>
                                <img src="small.svg" width="15px">
                                <input type="range" name="size-range" class="range" id="size-range" min="8" max="35" step="1" value="12">
                                <img src="large.svg" width="25px">
                            </td>
                            <td class="header-item">
                                <p>Speed</p>
                                <img src="turtle.svg" width="25px">
                                <input type="range" name="speed-range" class="range" id="speed-range" min="0" max="490" step="1" value="220">
                                <img src="rabbit.svg" width="25px">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-2" id="run-col">
                    <table id="buttons-table">
                        <tr>
                            <td class="header-button">
                                <button id="run-button"><img src="play.svg" width="25px"></button>
                                <button id="pause-button"><img src="pause.svg" width="25px"></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="maze-container">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <table id="maze-center">
                        <tr>
                            <td>
                                <table id="maze-grid"></table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr class="license">
        <p class="license">Copyright (c) 2022 Ethan Genser</p>
    </body>
</html>